<div class="cart-top flex product"  >
    
    <div class="d-flex product-item">
       <!-- product 1 -->
    <div class="item" data-aos="fade-down"
    data-aos-anchor-placement="top-bottom" data-aos-offset="200"
    data-aos-duration="1500">
        <a routerLink="/new-arrials">
            <img src="../../../../assets/products/product.jpg" alt="" srcset="">
            <h6>New Arrivals</h6>
        </a>
    </div>
    
    <div class="item" data-aos="fade-down"
    data-aos-anchor-placement="top-bottom" data-aos-offset="200"
    data-aos-duration="1500">
        <a routerLink="/womens">
            <img src="../../../../assets/products/women.jpg" alt="" srcset="">
            <h6>Women</h6>
        </a>
    </div>
    <div class="item" data-aos="fade-down"
    data-aos-anchor-placement="top-bottom" data-aos-offset="200"
    data-aos-duration="1500">
        <a routerLink="/mens">
            <img src="../../../../assets/products/men.jpg" alt="" srcset="">
            <h6>Men</h6>
        </a>
    </div>
    <div class="item" data-aos="fade-down"
    data-aos-anchor-placement="top-bottom" data-aos-offset="200"
    data-aos-duration="1500">
        <a routerLink="/decors">
            <img src="../../../../assets/products/diy.jpg" alt="" srcset="">
            <h6>Decors</h6>
        </a>
    </div>
    <div class="item" data-aos="fade-down"
    data-aos-anchor-placement="top-bottom" data-aos-offset="200"
    data-aos-duration="1500">
    <a routerLink="/jewel">
        <img src="../../../../assets/api/jewellery/j2.jpg" alt="" srcset="">
        <h6>Jewels</h6>
        </a>
    </div>
    
    <div class="item" data-aos="fade-down"
    data-aos-anchor-placement="top-bottom" data-aos-offset="200"
    data-aos-duration="1500">
        <a routerLink="/kids">
            <img src="../../../../assets/products/kids.jpeg" alt="" srcset="">
            <h6>Kids</h6>
        </a>
    </div>
    <div class="item" data-aos="fade-down"
    data-aos-anchor-placement="top-bottom" data-aos-offset="200"
    data-aos-duration="1500">
        <a routerLink="/shoes">
            <img src="../../../../assets/products/shoe.jpeg" alt="" srcset="">
            <h6>Shoes</h6>
        </a>
    </div>
   
    <div class="item" data-aos="fade-down"
    data-aos-anchor-placement="top-bottom" data-aos-offset="200"
    data-aos-duration="1500">
        <a routerLink="/watch">
            <img src="../../../../assets/products/watch.jpg" alt="" srcset="">
            <h6>Watch</h6>
        </a>
    </div>

    <div class="item" data-aos="fade-down"
    data-aos-anchor-placement="top-bottom" data-aos-offset="200"
    data-aos-duration="1500">
        <a routerLink="/perfumes">
            <img src="../../../../assets/products/perfumes.jpg" alt="" srcset="">
            <h6>Perfumes</h6>
        </a>
    </div>
    </div>
    
</div>