<div class="footer">
    <div class="mail-section">
        <img src="../../../assets/bg/star.png" alt="" class="star">
        <h3 >YOU'VE GOT MAIL!</h3>
        <h5>For launches, store events and our <br>freshest news.</h5>
        <button class="btn-design btn" routerLink="checkout">SIGN ME UP</button>
        
        <div class="nav-links">
            <img src="../../../assets/bg/footer.png" alt="">
            <h4>INSPIRED BY SPORT, DESIGNED FOR LIFE</h4>

            <div class="links d-flex">
                <a routerLink="/story" data-aos="fade-up">OUR STORY</a>
                <a routerLink="/new-arrials" data-aos="fade-up">PRODUCTS</a>
                <a routerLink="/story" data-aos="fade-up">BLOG</a>
            </div>
            
        </div>

        <div class="social-icons">
            <div class="address d-flex">
                <img src="" alt="">
                <h4>FIND A STORE NEAR YOU</h4>
            </div>

            <h6>Developed By Usamah | All Rights Reserved @ 2023</h6>
        </div>
    </div>
</div>