<div class="bg background" data-aos="fade-in"
data-aos-anchor-placement="top-bottom" data-aos-offset="500" data-aos-easing="ease-in-out"
data-aos-duration="1500">
    <h3>SHOP MENSWEAR</h3>
    <p>Cool prints for steamy days</p>
</div>

<nav aria-label="breadcrumb" class="m-5">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Men's Wear</li>
    </ol>
  </nav>


<div class="row">
    <!--  rhs = value   lhs = prop name -->
    <ng-container class="d-flex card-item" *ngFor="let item of filterCategory">
        <div class="cards" [routerLink]="['/collections',item.id]" data-aos="fade-in"
        data-aos-anchor-placement="top-bottom" data-aos-offset="200" data-aos-easing="ease-in-out"
        data-aos-duration="1000">
            <div class="img-card">
                <img src="{{ item?.img }}" alt="">
            </div>
            <h5 class="description">{{ item?.title}}</h5>
            <p class="description">{{ item?.description }}</p>
            <div class="d-flex add-to-cart">
                <h6>{{ item?.price | currency:"INR" }}</h6>
                <img src="../../../../assets/icons/bag.png" alt="">
            </div>
        </div>

    </ng-container>
</div>