<div class="ban">
</div>
<h4 class="my-3 mx-4 text-center">We’re a company that believes in culture as much as commerce, and that journeys are
    usually as worthy as destinations. These are the stories we’re telling through our product and through a community.
</h4>


<div class="con">
    <div class="item d-flex mx-3">
        <div class="item-text">
            <h3>How Nicobar <br>
                Was Born</h3>

            <p>We believe India is filled with design talent that has not scaled and we wanted to create a culture that
                nurtures creativity. Plus, the journey of Royal Enfield and Good Earth is very inspiring: there’s so
                much to learn from the Lals, the founding family of those companies, on thinking long term, doing things
                out of passion, and building brands.</p>
        </div>
        <div class="item-img">
            <img src="../../../../assets/bg/d1.webp" alt="" class="img-fluid">
        </div>
    </div>

    <div class="item d-flex mx-3">

        <div class="item-img">
            <img src="../../../../assets/bg/d2.webp" alt="" class="img-fluid">
        </div>

        <div class="item-text">
            <h3>Naming our <br> brand</h3>
            <p>We already had a name and identity designed for our brand and launch was 4 months away. We brainstormed
                over 90 names associated with the Indian Ocean; Nicobar was not one of them!

                As is always the case, serendipity intervened (via my passion for golf). On a golf trip with seven close
                friends, a friend said ‘how about Nicobar’, and I just knew that was it.</p>
        </div>
    </div>


    <div class="item d-flex mx-3">
        <div class="item-text">
            <h3>WORK WITH US </h3>
            <p>core team works out of our lush garden studio in Delhi that we call the Treehouse, where designers sketch
                and drape, the digital teams write and code, and the gardeners plant broccoli and tomatoes, but our
                people are spread across the country,

                in our stores, and our warehouses.</p>
        </div>

        <div class="item-img">
            <img src="../../../../assets/bg/d5.jpg" alt="" class="img-fluid">
        </div>
    </div>

    <div class="designers">
        <h3>DESIGN PHILOSOPHY</h3>
        <img src="../../../../assets/bg/d3.webp" alt="">
        <h4>Our aim has always been to create a line that champions easy, effortless style;
            <br>
            clothing that can be worn for years and homeware that’s with you for life.
        </h4>

        <p>Fabrics matter, as do fit and form. Whether in clothing or homeware: simplicity, versatility, and the ability
            to layer (and no big logos!) are the cornerstones of our collection. That’s where quality comes in.

        </p>

        <p>We love details…little bits of whimsy to make our guests smile

            and to elevate the everyday. Look under the collars and the cuffs, at the thread in buttons…

            It's the little things that make the ordinary extraordinary.</p>
    </div>

    <app-shop></app-shop>
</div>