<div class="container">
  <div class="py-5 mt-5 text-center">

    <h2>Secure Checkout</h2>

  </div>

  <div class="row">
    <div class="col-md-4 order-md-2 mb-4" data-aos="fade-down">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Your cart</span>
        <span class="badge badge-secondary badge-pill">{{ totalItem }}</span>
      </h4>
      <ul class="list-group mb-3" *ngFor="let item of product, let i = index">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h5 class="my-0">{{ item.title }}</h5>
            <h6>{{ item.description }}</h6>
          </div>
          <span class="text-muted">{{ item.price | currency:"INR" }}</span>
        </li>

      </ul>

      <form class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Promo code">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Redeem</button>
          </div>
        </div>
        <li class="list-group-item d-flex justify-content-between mt-3">
          <span>Total (INR)</span>
          <strong>{{ grandTotal }}</strong>
        </li>
        <button class="btn btn-design my-3" routerLink="/home" width="150px">Show More</button>

      </form>
    </div>

    <div class="col-md-8 order-md-1">
      <h4 class="mb-3">Billing address</h4>
      <form #f="ngForm" (Submit)="onSubmit(f)" action="/home" data-aos="fade-down">
        <div class="row">
          <div class="col-md-6 mb-3">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" id="firstName" placeholder="" value="" required name="fName" ngModel
              #fName='ngModel' (change)="getValue(fName.value)"
              [ngClass]="{'is-invalid' : fName.touched && fName.invalid}" required minlength="4" maxlength="10">

            <div *ngIf="fName.errors?.['required']">
              <div class="alert alert-danger" *ngIf="fName.touched && fName.invalid">
                First Name is required
              </div>
            </div>

            <div *ngIf="fName.errors?.['minlength']">
              <div class="alert alert-danger" *ngIf="lName.touched && lName.invalid">
                Minimum 4 character is required
              </div>
            </div>
          </div>


          <div class="col-md-6 mb-3">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" id="lastName" placeholder="" value="" required name="lName" ngModel
              #lName='ngModel' (change)="getValue(lName.value)"
              [ngClass]="{'is-invalid' : lName.touched && lName.invalid}" required minlength="4" maxlength="10">


            <div *ngIf="lName.errors?.['required']">
              <div class="alert alert-danger" *ngIf="lName.touched && lName.invalid">
                Last Name is required
              </div>
            </div>

            <div *ngIf="lName.errors?.['minlength']">
              <div class="alert alert-danger" *ngIf="lName.touched && lName.invalid">
                Minimum 4 character is required
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="username">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">@</span>
            </div>
            <input type="text" class="form-control" id="username" placeholder="Username" required name="uName" ngModel
              #uName='ngModel' (change)="getValue(uName.value)"
              [ngClass]="{'is-invalid' : uName.touched && uName.invalid}" required minlength="5" maxlength="10">
          </div>
          <div *ngIf="uName.errors?.['required']">
            <div class="alert alert-danger" *ngIf="uName.touched && uName.invalid">
              UserName is required
            </div>
          </div>

          <div *ngIf="uName.errors?.['minlength']">
            <div class="alert alert-danger" *ngIf="uName.touched && uName.invalid">
              Minimum 5 character is required
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="email">Email <span class="text-muted">(Optional)</span></label>
          <input type="email" class="form-control" id="email" placeholder="you@example.com" name="email"
            pattern="[a-zA-Z0-9]+\.[a-zA-Z0-9]+@gmail\.com" ngModel #email='ngModel' (change)="getValue(email.value)"
            [ngClass]="{'is-invalid' : email.touched && email.invalid}" required>
          <div *ngIf="email.errors?.['required']">
            <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
              email is required
            </div>

            <div *ngIf="email.errors?.['pattern']">
              <div class="alert alert-danger" *ngIf="email.touched && email.invalid">
                pattern should match
              </div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="1234 Main St" name="ad" ngModel
            #ad='ngModel' (change)="getValue(ad.value)" [ngClass]="{'is-invalid' : ad.touched && ad.invalid}" required>
          <div *ngIf="ad.errors?.['required']">
            <div class="alert alert-danger" *ngIf="ad.touched && ad.invalid">
              Address should not be Empty
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="address2">Address 2 <span class="text-muted">(Optional)</span></label>
          <input type="text" class="form-control" id="address2" placeholder="Apartment or suite">
        </div>

        <div class="row">
          <div class="col-md-5 mb-3">
            <label for="country">Country</label>
            <select class="custom-select d-block w-100" id="country" required>
              <option value="">Choose...</option>
              <option>India</option>
            </select>

          </div>
          <div class="col-md-4 mb-3">
            <label for="state">State</label>
            <select class="custom-select d-block w-100" id="state" required>
              <option value="">Choose...</option>
              <option>Tamil Nadu</option>
              <option>Bangalore</option>
              <option>Mumbai</option>
              <option>Delhi</option>
            </select>

          </div>
          <div class="col-md-3 mb-3">
            <label for="zip">Zip</label>
            <input type="text" class="form-control" id="zip" placeholder="" required>

          </div>
        </div>
        <hr class="mb-4">
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="same-address">
          <label class="custom-control-label" for="same-address">Shipping address is the same as my billing
            address</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input type="checkbox" class="custom-control-input" id="save-info">
          <label class="custom-control-label" for="save-info">Save this information for next time</label>
        </div>
        <hr class="mb-4">

        <h4 class="mb-3">Payment</h4>
        <span>Fake Payment Gateway</span>

        <div class="d-block my-3" data-aos="fade-up">
          <div class="custom-control custom-checkbox">
            <input id="credit" name="paymentMethod" type="checkbox" class="custom-control-input custom-checkbox" checked
              required>
            <label class="custom-control-label" for="credit"><img src="../../../../assets/icons/credit.png"
                alt="">Credit card</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input id="debit" name="paymentMethod" type="checkbox" class="custom-control-input custom-checkbox"
              required>
            <label class="custom-control-label" for="debit"><img src="../../../../assets/icons/debit.png" alt=""> Debit
              card</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input id="paypal" name="paymentMethod" type="checkbox" class="custom-control-input custom-checkbox"
              required>
            <label class="custom-control-label" for="paypal"><img src="../../../../assets/icons/paypal.png"
                alt="">PayPal</label>
          </div>
          <div class="custom-control custom-checkbox">
            <input id="cod" name="paymentMethod" type="checkbox" class="custom-control-input custom-checkbox" required>
            <label class="custom-control-label" for="cod"><img src="../../../../assets/icons/cod.png" alt=""
                width="40px" height="40px">Cash On Delivery</label>
          </div>
        </div>
        <div class="row" data-aos="fade-down">
          <div class="col-md-6 mb-3">

            <label for="cc-name">Name on card</label>
            <input type="text" class="form-control" id="cc-name" placeholder="" required>
            <small class="text-muted">Full name as displayed on card</small>
            <div class="invalid-feedback">
              Name on card is required
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <label for="cc-number">Credit card number</label>
            <input type="text" class="form-control" id="cc-number" placeholder="" required>
            <div class="invalid-feedback">
              Credit card number is required
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3 mb-3">
            <label for="cc-expiration">Expiration</label>
            <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
            <div class="invalid-feedback">
              Expiration date required
            </div>
          </div>
          <div class="col-md-3 mb-3">
            <label for="cc-cvv">CVV</label>
            <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
            <div class="invalid-feedback">
              Security code required
            </div>
          </div>
        </div>
        <hr class="mb-4">
        <button class="btn mb-5  btn-block btn-design" type="submit" [disabled]="f.valid==false"
          (click)="sucess()">Place Order</button>
      </form>
    </div>
  </div>
</div>